<!DOCTYPE html>
<!-- Template for all of the pages -->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="img/logo.jpg" type="image/icon type">
    <link href="~/css/default.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <a asp-controller="Blah" asp-action="Index">Home</a>
        <a asp-controller="Blah" asp-action="Grades">Grades</a>
    </nav>

    <div>
        @RenderBody()
    </div>

    <footer>This is the footer</footer>

    <script src="~/lib/jquery/jquery-3.6.3.min.js"></script> <!-- jquery tries to make programming easier like replacing get element with dollar signs in javascript -->
    <script src="~/js/grades.js"></script>
</body>
</html>
